/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* page styles */
html {
    font-family: Georgia, "Cambria", serif;
}

body {
    padding: 5% 10%;
}

h1 {
    font-size: 1.8em;
    font-weight: 800;
    padding:4% 1% 6% 2%;
}

@media only screen and (max-width: 714px) {
    h1 {
        padding-top: 8%;
    }
}
@media only screen and (max-width: 584px) {
    h1 {
        padding-top: 70px;
    }
}

@media print {
    .links, .links * {
        display: none;
    }
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
    padding: 3% 5% 2% 5%;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
    padding: 0 0 2% 0;
}

ul {
    padding: 0 2% 2% 24%;
}

.io1 {
    padding-left: 15%;
}

.io2 {
    padding-left: 28%;
}

.io3 {
    padding-left: 20%;
}

.io4 {
    padding-left:12%;
}

.l2 {
    padding: 0 2% 2% 3%;
}

li {
    line-height: 1.5em;
    list-style-type: square;
}

strong {
    text-size: 110%;
    font-weight:bold;
}

i {
    font-style: italic;
}

.theGuyYouWantWorkingForYou {
    width:30%;
    height:30%;
    float:right;
    margin-top:-2%;
    border:2px solid #222;
}

a, a:visited, a:hover, a:active {
    color:#333;
    text-decoration: underline;
}